extends layout

block content
  main 
    .bannerImageContainer 
     img.bannerImage(src= `BannerImage.svg`, alt="Banner Image")
    .text 
      h1 We bake #[span#red Sweets] that make you #[span#yellow Happy]
      .buttonsContainer 
        a.button(href="/inventory/item/new") Add Item
        a.button(href="/inventory/category/new") Add Category 

