extends layout 

block content
    section.deleteItem
      h1= `Delete ${item.name}`
      h3 Do you really want to delete this item?
      form(method='POST' action='')
        div.form-group
          input(type='hidden',name='itemid', required='true', value=item._id, id = "itemid" )
        .group 
          label(for="itemPassword") Enter Password
          input(type="password", name="itemPassword",id = "itemPassword",Placeholder ="Password",minlength : 8,required)
        .buttonsContainer
          button.button(type="submit") Yes 
          a.button(href="/inventory/items/") No
      if errors
          ul
            for error in errors
              li.error!= error.msg 